<div class="panel-body">
    <div class="form-group">
        <label for="currentProductName">Name:</label>
        <input type="text" class="form-control" ng-model="currentProduct.name" id="currentProductName"/>
    </div>
    <div class="form-group">
        <label for="currentProductCategory">Category:</label>
        <input type="text" class="form-control" ng-model="currentProduct.category" id="currentProductCategory"/>
    </div>
    <div class="form-group">
        <label for="currentProductDescription">Description:</label>
        <input type="text" class="form-control" ng-model="currentProduct.description" id="currentProductDescription"/>
    </div>
    <div class="form-group">
        <label for="currentProductPrice">Price:</label>
        <input type="text" class="form-control" ng-model="currentProduct.price" id="currentProductPrice"/>
    </div>
    <button class="btn btn-primary" ng-click="saveEdit(item)">Save</button>
    <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
</div>